h1 {
  text-align: center;
  font-size: 6em;
  font-family: monospace;
  color: #ABA5B2;
  margin-bottom: .3em;
  text-decoration: bold;
}

h2 {
  text-align: center;
  font-size: 4em;
  font-family: monospace;
  color: #ABA5B2;
  margin-bottom: .1em;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-family: monospace;
  color: #ABA5B2;
  margin-bottom: .1em;
}


h4 {
  text-align: left;
  font-size: 2em;
  font-family: monospace;
  color: #ABA5B2;
  margin-bottom: .1em;
}

body{
  background-color: #21252B;
}

.monospace{
  font-family: "Lucida Console", Courier, monospace;\
}


.buttonposition {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a.button {
  background-color: rgb(171,165,178);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  font-family: monospace;
}
