h1 {
  text-align: center;
  font-size: 3em;
  font-family: monospace;
  color: rgb(171,165,178);
  margin-bottom: .3em;
  text-decoration: bold;
}

h2 {
  text-align: left;
  font-size: 2em;
  font-family: monospace;
  color: rgb(209,154,102);
  margin-bottom: .1em;
  text-decoration: underline;
}

body{
  background-color: rgb(33,37,43);
}

.monospace{
  font-family: "Lucida Console", Courier, monospace;\
}
