.monospace{
  font-family: "Lucida Console", Courier, monospace;
}

:root {
    --font-color: #ABA5B2;
    --font-family: monospace;
}



h1, h2, h3, h4, p {
    font-family: var(--font-family);
    color: var(--font-color);
}

h1, h2, h3 {
    text-align: center;
}

h1 {
  font-size: 6em;
  margin-bottom: .3em;
  text-decoration: bold;
}

h2 {
  font-size: 4em;
  margin-bottom: .1em;
}

h3 {
  font-size: 2em;
  margin-bottom: .1em;
}

h4 {
  text-align: left;
  font-size: 2em;
  margin-bottom: .1em;
}

body{
  background-color: #21252B;
}

a{
    text-decoration: none;
}

a:link {
  color: var(--font-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #9966CB;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #658354;
  background-color: transparent;
  text-decoration: underline;
}


.buttonposition {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a.button {
  background-color: rgb(171,165,178);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  font-family: var(--font-family);;
}
